# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
# Winnions/env/
env/
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.swp
*.bak

# Dagster temporary storage
dagster-debug/
dagster.yaml
dagster_instance/
*.sqlite

# Dagster dev temp folder
.tmp_dagster_home_*/

# Python packages
*.egg-info/
dist/
build/
.eggs/

# Local environment configuration
.env
.env.*

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover

# pytest cache
.pytest_cache/
